{% extends "basic.html" %}
{% block content %}

<div class="right">
	<a href="/newpost">Add new post</a>
	{% if not user %}
	<a href="/signup">Sign up</a>
	<a href="/login">Log in</a>
	{% else %}
	Welcome, {{user}}! <a href="/logout">Log out</a>
	{% endif %}
</div>
{% for i in posts %}
<div class="post">
	<hr>
	<div class="subject">
		<a href="/post/{{i.key().id()}}">{{i.subject}}</a>
	</div>
	<pre class="content">{{i.content}}</pre>
</div>
{% endfor %}

{% if time %}
<div class="time">
	Queried {{time}} seconds ago
</div>
{% endif %}
{% endblock %}